/* *{
    box-sizing: border-box;
}
body {
    display:flex;
    flex-direction: column;
    height: 100vh;
}
#content{
    background-image: url('./pexels-lood-goosen-1235717.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}
.heading{
    font-size: 50px;
    color: white;
    font-family: cursive;
    margin: 50px 0;
}
p {
    font-size: 24px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.header ul{
    display: flex;
    justify-content: flex-start;
    gap:16px;
}
.header{
    background-color: #333436;
    padding: 25px;
} */

*{
    
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.7;
}
#content{
    width: 100%;
    /* height: 100vh;
    overflow: hidden;
    background-image:url(/src/pexels-lood-goosen-1235717.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    list-style: none;
    padding: 15px;
}
.nav-item:hover{
    text-decoration: underline;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-bar{
    background-color: rgba(0,0,0,0.7);
  
}

.menu-container{
   display: flex;
   flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.menu-card {
    width: 350px;
    height: 100px;
    padding: 10px;
    /* background-color: cyan; */
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input,
textarea{
    display: block;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#submit{
    width: auto;
}
#name{
    margin-top: 10px;
}
.contact-container{
    text-align: center;
}
.dish-name{
    color: #C9252F;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.price{
    font-weight: 700;
}
.ingredients{
    color: rgb(94, 94, 94);
    text-transform: uppercase;

}
h1{
    color: rgb(98, 158, 163);
    text-align: center;
    margin-bottom: 20px;
}
.long-paragraph{
   color: rgb(94, 94, 94);
   font-size: 20px;
}
.banner-image{
    margin-bottom: 20px;
}
.contact-container p{
    color: rgb(98, 158, 163);
    font-size: 20px;
}